$main-color:rgb(255, 255, 255);
$bg-color:rgb(43, 52, 57);

body {
    margin: 30px 50px;
    background-color: $bg-color;
}

tt {
    display: block;
    text-align: end;
    color:rgb(162, 162, 162);
}

.site-body {
    display: flex;
    color: $main-color;

    .users {
        flex-basis: 30%;

        .user {
            background-color: rgb(102, 127, 132);
            padding: 2px;
            border: solid black 1px;
            transition: 0.2s;

            &:not(:first-child) {margin-top: 1px;}

            &:hover {
                background-color: rgb(122, 159, 165);
                transform: scale(1.02);
                cursor: pointer;
            }
           
            p {margin: 0.5em;}

            &:first-child {margin-bottom: 20px; padding: 20px; text-align: center;}

            &._active {
                box-shadow: inset 0px 0px 5px 0px rgb(61, 65, 65);
                background-color: rgb(108, 163, 180);
            }
        }
    }

    .posts {
        flex-basis: 70%;
        padding: 5px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
        grid-template-rows: repeat( auto-fit, 100px );

        .post {
            background-color: rgba(66, 92, 113, 0.4);
            padding: 10px;
            border: solid black 1px;
            text-align: center;
            transition: 0.3s;
            
            &:not(:first-child) {margin-top: 3px;}

            &:hover {
                transform: scale(1.01);
                box-shadow: inset 0px 0px 2px 0px rgb(152, 208, 254);
                background-color: rgba(66, 92, 113, 1);
                cursor: pointer;
            }
        }
    }
}

.post-detail {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    
    .post-nav {
        margin-left: 20px;
        font-size: 20px;
        color:rgb(167, 219, 227);
        background-color: rgba(167, 219, 227, 0.1);
        text-decoration: none;
        padding: 7px;
        position: relative;
        transition: 0.2s;
        
        &:hover {
            background-color: rgba(167, 219, 227, 0.2);
            box-shadow: 0 0 2px rgb(144, 188, 195);
        }

        &::after {
            content: "";
            position: absolute;
            background-color: rgb(190, 227, 233);
            width: 40px;
            height: 20px;
            left: -10px;
            bottom: 50%;
            transform: translate(-100%, 50%);
            clip-path: polygon(0 50%, 30% 0, 30% 30%, 100% 30%, 100% 70%, 30% 70%, 30% 100%, 0 50%);
        
        }
    }

    .post-info {
        margin-top: 50px;
        display: flex;

        .post-content {
            flex-basis: 80%;
            text-align: center;
            
            div {margin: auto; width: 80%;}
            tt {text-align:left}
        }

        .post-autor {
            flex-basis: 20%;
            align-self: end;

            h3 {
                border-bottom: solid 2px rgb(103, 135, 163); 
                padding-bottom: 10px;
                color:rgb(157, 192, 238);
                text-align: center;
            }

            p {
                margin: 0;
                font-size: 1.2em;
                text-align: center;
            }
        }
    }

    .comments {
        h2 {
            margin-top: 60px;
            padding: 20px;
            border-bottom: solid 1px rgb(66, 92, 113);
            color:rgb(157, 228, 238);
        }

        .comment {
            border: solid 1px rgb(102, 127, 132);
            border-radius: 7px;
            padding: 10px;
            margin-bottom: 10px;
            width: 80%;

            span {color: rgb(136, 179, 186)}

            p {text-indent:1em}
        }

        .add-comment {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            button {
                font-weight: bold;
                text-transform: uppercase;                
                height: 50px;
                align-self: center;
                background-color: rgb(145, 208, 218);
                transition: .3s;

                &:hover {
                    background-color: aquamarine;
                    cursor: pointer;
                }
            }

            input {
                margin-right: 20px;
                background-color: rgb(170, 204, 213);
                height: 30px;
                font-size: 1.1em;
                min-width: 170px;
            }
        }

        .your-comment {
            &:nth-child(odd) {
                color: rgb(136, 179, 186);
                font-size: 19px;
                border-top: solid 1px rgb(134, 186, 197);
                border-radius: 7px;
                width: 80%;
                padding: 30px 10px 0;
                font-weight: bold;

                span{color:$main-color}

                button {
                    float: right;
                    background-color: rgb(152, 196, 186);
                    transition: .3s;
                    height: 30px;

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(238, 157, 157);
                    }
                }
            }
            &:nth-child(even) {
                color: aliceblue;
                border-bottom: solid 1px rgb(134, 186, 197);
                border-radius: 7px;
                width: 80%;
                padding: 0 10px 40px;
                margin-bottom: 10px;
                text-indent:1em
            }
        }
    }
}